# Godot 4+ specific ignores
.godot/
.DS_Store
Assets/.DS_Store
Assets/characters/.DS_Store
Assets/characters/.DS_Store
Assets/.DS_Store
Assets/.DS_Store
builds/shopping game_linux.exe.html.x86_64
builds/shopping game_mac.exe.dmg
/builds
